```{=html}

<ul class="pub-list list">
  <% items.forEach(function(item, index) { %>
    <li <%= metadataAttrs(item) %>>
      <div class="pub-item">
        <% if (item.image) { %>
          <div class="pub-image">
            <img src="<%- item.image %>" alt="Image for <%- item.title %>" class="listing-image"/>
          </div>
        <% } %>
        <div class="pub-details">
          <h2 class="listing-title"><%= item.title %></h2>
          <% if (item.journal) { %>
            <p class="listing-journal"><%- item.journal %></p>
          <% } %>
          <% if (item.authors) { %>
            <p class="listing-authors">
              <span class="authors-string"><%= item.authors %></span>
            </p>
          <% } %>

          <% /* Check if descriptive paragraph exists.
                Both the paragraph-header (if any) and descriptive paragraph are hidden initially in this container.
          */ %>
          <% if (item["descriptive-paragraph"]) { %>
            <button class="toggle-button" onclick="toggleParagraph('desc-<%= index %>')">
              Show More
            </button>
            <div id="desc-<%= index %>" style="display: none;">
              <% if (item["paragraph-header"]) { %>
                <h4 class="listing-paragraph-header special-header">
                  <%= item["paragraph-header"] %>
                </h4>
              <% } %>
              <p class="listing-descriptive-paragraph">
                <%= item["descriptive-paragraph"] %>
              </p>
            </div>
          <% } %>

          <p class="listing-links">
            <% if (item.osf) { %>
              <a href="<%- item.osf %>" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">OSF</a>
            <% } %>
            <% if (item.paper) { %>
              <a href="<%- item.paper %>" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Paper</a>
            <% } %>
          </p>
        </div>
      </div>
    </li>
  <% }) %>
</ul>





```
